{% extends 'base.html' %}

{% block title %}
    المفضلة
{% endblock title %}
    



{% block content %}



<section class="property_list">
    <div class="container">

        <div class="grid property_grid">
            
            
            {% if all_properties.count > 0 %}
                
                

            {% for property in all_properties %}

            <div class="item property">
                <input type="hidden" name="property_type_input" value="{{property.ad.p_type}}">
                <div class="property__info">
                    <h4 class="property__title">
                        <a href="{% url "property:property-details" property.ad.number %}">{{property.ad.title}}</a>
                    </h4>
                    <p class="property__price">
                        {{property.ad.price}} ريال / <span>{{property.ad.get_rent_type_display }}</span>
                    </p>
                    <p class="property__description">
                        <!-- {{property.description|safe|truncatewords:5}} -->
                    </p>
                </div>
                <div class="property__cover_img">
                    
                    {% for img in property.ad.imgs.all %}
                        
                        {% if img.main == True %}
                        <!-- <img src="{% if img.main == True %}{{img.img.url}}{% else %}{{property.imgs.first.img.url}}{% endif %}" alt=""> -->
                        {% endif %}
                        
                            
                    {% endfor %}

                    <img src="{{property.ad.imgs.first.img.url}}" alt="">
                        
                </div>
            </div>
            {% endfor %}

            {% else %}
            <center>
                <h1>لا يوجد إعلانات في المفضلة لعرضها</h1>
                <a href="{% url 'page:index' %}" class="btn btn-sm btn-solid">الرئيسية</a>
            </center>
            {% endif %}




                



        </div>

    </div>
</section>


{% endblock content %}
    