{% extends 'base2.html' %}
{% load static %}

{% block title %}
الصفحة الرئيسية
{% endblock title %}


{% block content %}


<style>


    main {
        height: 500px; 
        width: 100%;
        background: url(" {% static 'imgs/base2bg.png' %} ");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .properties {
        margin: 1rem 0;
        margin-bottom: 2rem;
    }


    .section__heading {

        padding: 1rem 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .section__heading h3 {
        border-bottom: 4px solid var(--primary-color);
        padding-bottom: .6rem;
        font-weight: 300;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
    }

    .grid .item {
        border: 1px solid #12121220;
    }

    .grid a {
        color: black;
        text-decoration: none;
    }

    .property__cover {
        height: 200px;
        position: relative;
        margin-bottom: 2rem;
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px;
        padding-bottom: 1.5rem;

        background-color:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
 
    }

    .property__price {
        color: red;
        position: absolute;
        padding: 0.5rem 1rem;
        background: var(--primary-color);
        color: white; 
        font-size: .6rem;
        bottom: -15px;
        right: 15px; 
        width: fit-content;
        
    }

    .property_item__type {
        width: fit-content;
        color: white;
        background: var(--primary-color); 
        font-size: .8rem; 
        padding: .5rem .7rem; 
        position: absolute;
        right: 15px;
        top: 15px;

    }

    .property__title {
        font-size: 0.9rem;
    }

    .property__location {
        font-size: 0.8rem;
        margin-top: 0.8rem;
    }

    .property_item__info {

        display: flex;
        justify-content: space-around;
        font-size: .8rem
    }
    
    .property_item__info div p:first-child {
        opacity: .6;
    }

    .property_item__footer {
        padding: 10px 15px;
        margin-top: 15px;
        background: #f6f6f6;
        font-size: .8rem;
    }

    .fa-angle-left {
        color: var(--primary-color)
    }


    section.services {
        margin-bottom: 1rem;
    }

    section.services .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    section.services .grid .item {
        min-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: .5rem;
        transition: all .1s ease-in-out;
    }

    section.services .grid .item * {
        font-weight: normal;
    }

    section.services .grid .item:hover {
        background: var(--primary-color);
        color: white; 
    }

    section.contact {
        margin-bottom: 1rem;
        height: 200px;
    }

    section.contact .container {
        padding: 1rem 2rem;
        height: 100%;
        background: url(" {% static 'imgs/base2bg.png' %} ");
        background-size: cover; 
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
        color: white;
        row-gap: 1rem; 
    }


    .btn-solid-light {
        background: white; 
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
        border-radius: 5px;
        font-weight: 300;
    }

</style>



<main style="">
    <div class="container">
        <div class="intro">
            <h1>{{info.title}}</h1>
            <p>
                {{info.slogan}}
            </p>
        </div>
        <div class="search">
            <form action="">
                <div class="field">
                    <input type="text" class="input text-input" placeholder="رقم الإعلان">
                </div>
                <div class="field">
                    <select name="" id="" class="input select-input">
                        <option value="" disabled selected>المدينة</option>
                        <option value="city">الرياض</option>
                        <option value="city">الدمام</option>
                        <option value="city">الجوف</option>
                        <option value="city">عفيف</option>
                        <option value="city">شقرا</option>
                        <option value="city">بريدة</option>
                    </select>
                </div>
                <div class="field">
                    <select name="" id="" class="input select-input">
                        <option value="" selected disabled>نوع العقار</option>
                        <option value="villa">فيلا</option>
                        <option value="villa">شقة</option>
                        <option value="villa">أرض</option>
                        <option value="villa">مكتب تجاري</option>
                        <option value="villa">محل</option>
                        <option value="villa">شاليه</option>
                        <option value="villa">استراحة</option>
                    </select>
                </div>
                <div class="field">
                    <select name="" id="" class="input select-input">
                        <option value="" disabled selected>التصنيف</option>
                        <option value="">إيجار</option>
                        <option value="">بيع</option>
                        <option value="">استثمار</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-solid-primary">بحث</button>
            </form>
        </div>
    </div>
</main>
<section class="property__type_section">
    <div class="container">
        <div class="property__type">
            <a href="">ارض</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                account_balance
                </span>
            <a href="">فيلا</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                home
                </span>
            <a href="">شقة</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                chalet
                </span>
            <a href="">شاليه</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                chalet
                </span>
            <a href="">استراحة</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                meeting_room
                </span>
            <a href="">مكتب تجاري</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                account_balance
                </span>
            <a href="">دوبلكس</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                apartment
                </span>
            <a href="">عمارة</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                storefront
                </span>
            <a href="">محل</a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                villa
                </span>
            <a href="">فيلا للبيع </a>
        </div>
        <div class="property__type">
            <span class="material-symbols-outlined">
                villa
                </span>
            <a href="">فيلا للإيجار</a>
        </div>
    </div>
</section>




<!-- property grid sesction -->

<section class="properties">

    <div class="container">

        <div class="section__heading">
            <h3>عقارات مضافة حديثاً</h3>
        </div>

        <div class="section__content">
            <div class="grid">
                <div class="item property" >
                    <a href="">

                        <div class="property__cover" style="background: url( '{% static 'imgs/bg.jpg' %}' )">
                            <p class="property_item__type">بيع</p>
                            <h4 class="property__title">أرض سكنية</h4>
                            <p class="property__location">
                                <i class="fa-solid fa-location-dot"></i>
                                بريدة, حي الريان
                            </p>
                            <p class="property__price">10000 ريال / سنوياً</p>
                        </div>
                        <div class="property_item__info">
                            <div>
                                <p class="feature__title">
                                    المساحة
                                </p>
                                <p>
                                    522 م٢
                                </p>
                            </div>
                            <div>
                                <p class="feature__title">
                                    الحالة
                                </p>
                                <p>
                                    تم البيع
                                </p>
                            </div>
                        </div>
                        <div class="property_item__footer">
                            التفاصيل <i class="fa-solid fa-angle-left"></i>
                        </div>

                    </a>

                </div>
                <div class="item property" >
                    <a href="">

                        <div class="property__cover" style="background: url( '{% static 'imgs/bg.jpg' %}' )">
                            <p class="property_item__type">بيع</p>
                            <h4 class="property__title">أرض سكنية</h4>
                            <p class="property__location">
                                <i class="fa-solid fa-location-dot"></i>
                                بريدة, حي الريان
                            </p>
                            <p class="property__price">10000 ريال / سنوياً</p>
                        </div>
                        <div class="property_item__info">
                            <div>
                                <p class="feature__title">
                                    المساحة
                                </p>
                                <p>
                                    522 م٢
                                </p>
                            </div>
                            <div>
                                <p class="feature__title">
                                    الحالة
                                </p>
                                <p>
                                    تم البيع
                                </p>
                            </div>
                        </div>
                        <div class="property_item__footer">
                            التفاصيل <i class="fa-solid fa-angle-left"></i>
                        </div>

                    </a>

                </div>
                <div class="item property" >
                    <a href="">

                        <div class="property__cover" style="background: url( '{% static 'imgs/bg.jpg' %}' )">
                            <p class="property_item__type">بيع</p>
                            <h4 class="property__title">أرض سكنية</h4>
                            <p class="property__location">
                                <i class="fa-solid fa-location-dot"></i>
                                بريدة, حي الريان
                            </p>
                            <p class="property__price">10000 ريال / سنوياً</p>
                        </div>
                        <div class="property_item__info">
                            <div>
                                <p class="feature__title">
                                    المساحة
                                </p>
                                <p>
                                    522 م٢
                                </p>
                            </div>
                            <div>
                                <p class="feature__title">
                                    الحالة
                                </p>
                                <p>
                                    تم البيع
                                </p>
                            </div>
                        </div>
                        <div class="property_item__footer">
                            التفاصيل <i class="fa-solid fa-angle-left"></i>
                        </div>

                    </a>

                </div>
                <div class="item property" >
                    <a href="">

                        <div class="property__cover" style="background: url( '{% static 'imgs/bg.jpg' %}' )">
                            <p class="property_item__type">بيع</p>
                            <h4 class="property__title">أرض سكنية</h4>
                            <p class="property__location">
                                <i class="fa-solid fa-location-dot"></i>
                                بريدة, حي الريان
                            </p>
                            <p class="property__price">10000 ريال / سنوياً</p>
                        </div>
                        <div class="property_item__info">
                            <div>
                                <p class="feature__title">
                                    المساحة
                                </p>
                                <p>
                                    522 م٢
                                </p>
                            </div>
                            <div>
                                <p class="feature__title">
                                    الحالة
                                </p>
                                <p>
                                    تم البيع
                                </p>
                            </div>
                        </div>
                        <div class="property_item__footer">
                            التفاصيل <i class="fa-solid fa-angle-left"></i>
                        </div>

                    </a>

                </div>






            </div>
        </div>

    </div>
    
</section>



<section class="services">

    <div class="container">

        <div class="section__heading">
            <h3>خدماتنا</h3>
        </div>


        <div class="section__content">

            <div class="grid">
                <div class="item">
                    <h2>طلب عرض عقار</h2>
                    <h4>سجل عقارك الآن</h4>
                </div>
                <div class="item">
                    <h2>طلب كتابة عقد</h2>
                    <h4>سجل عقارك الآن</h4>
                </div>
                <div class="item">
                    <h2>إدارة أملاك</h2>
                    <h4>مهمتنا هي الوصول بك للحياة التي تستحقها</h4>
                </div>
                <div class="item">
                    <h2>تقييم عقاري معتمد</h2>
                    <h4>قيم قبل أن تقرر</h4>
                </div>
                <div class="item">
                    <h2>استشارات عقارية</h2>
                </div>
                <div class="item">
                    <h2>المزادات</h2>
                </div>
            </div>

        </div>

    </div>

</section>


<section class="contact">
    <div class="container">



        <h1>لنبقى على تواصل</h1>
        <a href="" class="btn btn-solid-light">راسلنا الآن</a>



    </div>
</section>


{% endblock content %}