{% extends 'base.html' %}

{% block title %}أصحاب العقار{% endblock title %}

{% block content %}

<style>
.heading__section {
    width: 100%; 
    background: var(--primary-color); 
    min-height: 200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
}

.heading__section h1 {
    font-size: 2rem;
    color: var(--secondary-color);
}

</style>

<section class="heading__section">
    <h1>
        أصحاب العقار
    </h1>
    <!-- <img src="./assets/imgs/توثيق عقد ايجار الموحد.jpg" alt=""> -->
</section>

<section class="mt-2">
    <div class="container">
        {{property_owner_info|safe}}
        
        <br>
        <a style="direction: ltr;" class="btn btn-solid" href="https://wa.link/53ukow">
            <i class="fa-brands fa-whatsapp"></i>
            +966 56 559 4599
        </a>
    </div>
</section>



{% endblock content %}