{% extends "base.html" %}


{% block title %}
    تسجيل خروج
{% endblock title %}
    

{% block stylesheets %}

<style>
    h2 {
        color: var(--primary-color); 
    }
    footer {
        bottom: 0 ;
        position: fixed;
    }

    .content {
        height: 100%; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem; 
        min-height: calc(100vh - 100px - 200px);
    }

</style>

{% endblock stylesheets %}
    

{% block content %}


<div class="container">

    <div class="content">

        <h2>تم تسجيل الخروج بنجاح</h2>
        <a class="btn btn-solid" href="{% url 'user:user-login'%}">تسجيل دخول مرة أخرى</a>
    
    </div>


</div>


{% endblock %}