{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}إعادة تعيين كلمة المرور{% endblock title %}

{% block content %}

<style>
    input { 
        min-height: 30px;
        width: 100%; 
        margin: 0.65rem 0;
        font-size: 1.1rem; 
        padding: .4rem 1rem; 
    }

    .password_reset_section {
        width: 100%;
    }

    .password_reset_section .container { 
        width: 500px; 
        max-width: 90%;
        padding: 1rem; 
    }

    
</style>

<section class="password_reset_section">
    <div class="container">
        <form action="" method="post">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
          <p>اكتب بريدك الإلكتروني المربوط بحسابك لاستعادة كلمةالمرور</p>
              <p>{{ form.email }}</p>
              
              <button type="submit" class="btn btn-solid">إعادة تعيين</button>
            {% comment %} <input type="submit" class="btn btn-solid btn-lg" value="إعادة تعيين"> {% endcomment %}
        </form>
    </div>
</section>
{% endblock %}