
.messages { 
    list-style: none;
}

.messages li { 
    width: 100%;
    background: #d9534f;
    padding: 1rem;
    color: white;
}

.messages li.info { 
    background: var(--primary-color); 
    color: white; 
}

form .field {
    margin-bottom: 1rem;
}

form input, textarea { 
    padding: .5rem 1rem;
    width: 100%;
}

form textarea {
    resize: none;
    border-radius: 40px;
    border: none; 
    outline: none; 
    border:1px solid #1e1e1e50;  
    min-height: 200px;
}