{% extends 'base.html' %}
{% load static %}


{% block title %}
إضافة عقار
{% endblock title %}



{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/property/add-property-interface.css' %}">

{% endblock stylesheets %}




{% block content %}

<style>
    .wrpper__heading .item{
        font-weight: 500;
    }
</style>

<section class="content">



    <div class="section__heading">
        <p>قسم العقار</p>
    </div>

    <div class="wrapper">
        <div class="wrpper__heading">
            <div class="grid">
                <div class="item clicked" id="btn-get-all">الكل</div>
                <div class="item" id="btn-get-rent">للإيجار</div>
                <div class="item" id="btn-get-sale">للبيع</div>
            </div>
        </div>
        <div class="wrapper__content" id="all">
            <ul>
                <li><a href="{% url 'property:add-property' "apartment_rent" %}" class="property_type_link">شقة للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "floor_rent" %}" class="property_type_link">دور للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "villa_rent" %}" class="property_type_link">فيلا للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "shop_rent" %}" class="property_type_link">محل للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "resthouse_rent" %}" class="property_type_link">استراحة للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "commercial_office_rent" %}" class="property_type_link">مكتب تجاري للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "land_rent" %}" class="property_type_link">أرض للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "building_rent" %}" class="property_type_link">عمارة للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "branch_rent" %}" class="property_type_link">مستودع للإيجار</a></li>
                <!-- <li><a href="#" class="property_type_link">مخيم للإيجار</a></li> -->
                <!-- <li><a href="#" class="property_type_link">غرفة للإيجار</a></li> -->
                <li><a href="{% url 'property:add-property' "furnished_apartment_rent" %}" class="property_type_link">شقة مفروشة</a></li>
                <li><a href="{% url 'property:add-property' "chalet_rent" %}" class="property_type_link">شاليه للإيجار</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'property:add-property-sell' "sell" "apartment_sale" %}" class="property_type_link">شقة للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' 'sell' 'floor_rent' %}" class="property_type_link">دور للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "villa_rent" %}" class="property_type_link">فيلا للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">محل للبيع</a></li> -->
                <li><a href="{% url 'property:add-property-sell' "sell" "shop_rent" %}" class="property_type_link">محل للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">بيت للبيع</a></li> -->
                <!-- <li><a href="#" class="property_type_link">استراحة للبيع</a></li> -->
                <li><a href="{% url 'property:add-property-sell' "sell" "resthouse_rent" %}" class="property_type_link">استراحة للبيع</a></li>
                <li><a href="#" class="property_type_link">مكتب تجاري للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' 'sell' 'land_sale' %}" class="property_type_link">أرض للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' 'sell' 'building_sale' %}" class="property_type_link">عمارة للبيع</a></li>
                <li><a href="#" class="property_type_link">مستودع للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">مخيم للبيع</a></li> -->
                <!-- <li><a href="#" class="property_type_link">غرفة للبيع</a></li> -->
                <li><a href="#" class="property_type_link">مزرعة للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "chalet_rent" %}" class="property_type_link">شاليه للبيع</a></li>
            </ul>
        </div>
        <div class="wrapper__content" id="sale">
            <ul>
                <li><a href="{% url 'property:add-property-sell' "sell" "apartment_sale" %}" class="property_type_link">شقة للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "floor_rent" %}" class="property_type_link">دور للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "villa_rent" %}" class="property_type_link">فيلا للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "shop_rent" %}" class="property_type_link">محل للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">بيت للبيع</a></li> -->
                <li><a href="{% url 'property:add-property-sell' "sell" "resthouse_rent" %}" class="property_type_link">استراحة للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "commercial_office_rent" %}" class="property_type_link">مكتب تجاري للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">أرض للبيع</a></li> -->
                <li><a href="{% url 'property:add-property-sell' 'sell' 'land_sale' %}" class="property_type_link">أرض للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">عمارة للبيع</a></li> -->
                <li><a href="{% url 'property:add-property-sell' 'sell' 'building_sale' %}" class="property_type_link">عمارة للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" 'branch_rent' %}" class="property_type_link">مستودع للبيع</a></li>
                <!-- <li><a href="#" class="property_type_link">مخيم للبيع</a></li> -->
                <!-- <li><a href="#" class="property_type_link">غرفة للبيع</a></li> -->
                <li><a href="{% url 'property:add-property-sell' "sell" "farm_sale" %}" class="property_type_link">مزرعة للبيع</a></li>
                <li><a href="{% url 'property:add-property-sell' "sell" "chalet_rent" %}" class="property_type_link">شاليه للبيع</a></li>
            </ul>
        </div>
        <div class="wrapper__content" id="rent">
            <ul>
                <li><a href="{% url 'property:add-property' "apartment_rent" %}" class="property_type_link">شقة للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "floor_rent" %}" class="property_type_link">دور للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "villa_rent" %}" class="property_type_link">فيلا للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "shop_rent" %}" class="property_type_link">محل للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "resthouse_rent" %}" class="property_type_link">استراحة للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "commercial_office_rent" %}" class="property_type_link">مكتب تجاري للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "land_rent" %}" class="property_type_link">أرض للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "building_rent" %}" class="property_type_link">عمارة للإيجار</a></li>
                <li><a href="{% url 'property:add-property' "branch_rent" %}" class="property_type_link">مستودع للإيجار</a></li>
                <!-- <li><a href="#" class="property_type_link">مخيم للإيجار</a></li> -->
                <!-- <li><a href="#" class="property_type_link">غرفة للإيجار</a></li> -->
                <li><a href="{% url 'property:add-property' "furnished_apartment_rent" %}" class="property_type_link">شقة مفروشة</a></li>
                <li><a href="{% url 'property:add-property' "chalet_rent" %}" class="property_type_link">شاليه للإيجار</a></li>
            </ul>
        </div>
    </div>



</section>

<script src="{% static 'js/property/add-property-interface.js' %}"></script>

{% endblock content %}