{% extends 'base.html' %}
{% load static %}



{% block title %}

إضافة عقار
{% endblock title %}
    

{% block stylesheets %}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />


    <link rel="stylesheet" href="{% static 'css/property/add-property.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <style>


        .swiper {
            min-width: 100%; 
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content !important;
          }
          .swiper-wrapper {
            column-gap: 1rem;
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      </style>

{% endblock stylesheets %}
    


{% block content %}



<div class="container form-container">
    <input type="hidden" value={{property_type}} name="property_type">
    <!-- <div hidden name="property_type" >{{property_type}}</div> -->

    <!-- popup -->

    <div class="overlay-layer"></div>

    <div class="popup on-imgs-popup">
        <p>هل أنت متأكد من الاستمرار بدون إضافة صور؟</p>
        <div class="buttons">
            <a class="btn btn-solid" id="no-imgs-popup-yes-btn">نعم</a>
            <a class="btn btn-outline" id="no-imgs-popup-no-btn">لا</a>
        </div>
    </div>

    <section >

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="timeline-container">
            <div class="timeline-items-wrapper">
                <div class="timeline-item current">
                    <p>المعلومات</p>
                    <div class="status-circle"></div>
                </div>
                <div class="timeline-item ">
                    <p>الصور</p>
                    <div class="status-circle"></div>
                </div>
                <div class="timeline-item ">
                    <p>الموقع</p>
                    <div class="status-circle"></div>
                </div>
                <div class="timeline-item">
                    <p>التفاصيل</p>
                    <div class="status-circle"></div>
                </div>
                <div class="timeline-item">
                    <p>المزايا</p>
                    <div class="status-circle"></div>
                </div>
            </div>
            <div class="timeline-progressbar">
                <div class="timeline-progressbar-ink"></div>
            </div>
        </div>

        <input type="hidden" name="neighborhood-input">
        <input type="hidden" name="city-input">


        <div class="property__info">
            <!-- <div class="input" >
                <p class="input-label">عنوان الإعلان <span class="input-label-highlight"></span></p>
                <input type="text" name="title-input" placeholder="الرجاء كتابة عنوان الإعلان...">
            </div> -->


            

            {% if property_type == 'land_rent' %}
            <div class="input" >
                <p class="input-label">الطول <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" name="length-input" placeholder="الرجاء كتابة الطول...">
            </div>
            <div class="input" >
                <p class="input-label">العرض <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" name="width-input" placeholder="الرجاء كتابة العرض...">
            </div>
            {% endif %}
                

                


            <div class="input" >
                <p class="input-label">السعر <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" name="price-input" placeholder="الرجاء كتابة السعر...">
            </div>

            <div class="input">
                <p class="input-label">المساحة <span class="input-label-highlight">(متر مربع)</span></p>
                <input type="text" name="space-input" placeholder="الرجاء كتابة المساحة...">
            </div>


            
            {% if property_type == 'land_rent' %}
                
                

            <div class="input">
                <p class="input-label">سعر المتر <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" name="unit-price-input" placeholder="">
            </div>

            {% endif %}


            

            <input type="hidden" name="advertiser_relation" >
            <input type="hidden" name="exclusive">

            <!-- <div class="input">
                <p class="input-label">الطول <span class="input-label-highlight">(متر)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div>

            <div class="input">
                <p class="input-label">العرض <span class="input-label-highlight">(متر)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div> -->

            <!-- <div class="input">
                <p class="input-label">السعر <span class="input-label-highlight">(ريال سعودي)</span></p>
                <input type="text" placeholder="الرجاء كتابة السعر...">
            </div> -->

            <div class="box">
                <p>نوع الإيجار</p>
                <div class="grid rent-type">
                    <input type="hidden" name="rent_type_input">
                    <div class="item" data-value="monthly">شهري</div>
                    <div class="item" data-value="yearly">سنوي</div>
                </div>
            </div>
            <br>

            <div class="box">
                <p>علاقة المعلن بالعقار</p>
                <div class="grid" id="advertiser_relation_grid">
                    <input type="hidden" name="advertiser_relation_input">
                    <div class="item">مسوق</div>
                    <div class="item">مالك</div>
                    <div class="item">وكيل</div>
                </div>

                <div class="grid" id="markter-type-grid">
                    <input type="hidden" name="marketer_type_input">
                    <div class=" sub-item">حصري</div>
                    <div class="sub-item">غير حصري</div>
                </div>

            </div>



            <div class="property__info__next-prev next-prev">
                <a href="{% url 'property:add-property-interface' %}"  class="btn-prev btn btn-solid-light">السابق</a>
                <a  class="btn-next btn btn-solid-success">التالي</a>
            </div>


        </div>

        <div class="property__imgs">
            <div class="btn add-img button" >
                <input type="file" multiple name="property__imgs" accept="image/*" >
                <label >إضافة صور </label>
                <i class="fa-solid fa-camera"></i>
            </div>
            <div class="btn add-video button">
                <input type="file" name="property__video" accept="video/*" >
                <label >إضافة فيديو </label>
                <i class="fa-solid fa-video"></i>
            </div>

            <div class="preview_imgs_container">

            </div>


            <div class="preview_video_container">

            </div>

            <div class="property__imgs__next-prev next-prev">
                <a  class="btn-prev btn btn-solid-light">السابق</a>
                <a  class="btn-next btn btn-solid-success">التالي</a>
            </div>

        </div>

        <div class="property__location">

            <input type="hidden" name="lat" id="lat-input">
            <input type="hidden" name="lng" id="lng-input">
            
            <p class="property__location__heading">الرجاء تحديد الموقع الصحيح للعقار</p>
            <div class="map-container">
                <div id="map"></div>
                <a href="#" id="myLocationButton" class="btn btn-mylocation">
                    <i class="fa-solid fa-location-crosshairs"></i>
                    موقعي
                </a>
                <a class="btn btn-terrain" style="cursor: pointer;">تضاريس</a>
            </div>

            <div class="property__location__next-prev next-prev">
                <a class="btn-prev btn btn-solid-light">السابق</a>
                <a class="btn-next btn btn-solid-success">التالي</a>
            </div>
        </div>

        <div class="property__details">
            

            {% if property_type == 'shop_rent' or property_type == 'land_rent' or property_type == 'building_rent' or property_type == 'branch_rent' or property_type == 'villa_rent' or property_type == 'commercial_office_rent' or property_type == 'floor_rent' %}

            <input type="hidden" name="interface-input">
            <div class="field interface-field">
                <p>الواجهة*</p>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">شمالية</a>
                        </div>
                    
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">جنوبية</a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">شرقية</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">غربية</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">شمالية شرقية</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">شمالية غربية</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">جنوبية شرقية</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="btn btn-outline">جنوبية غربية</a>
                        </div>

                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>

            </div>

            

                
            



                

            {% endif %}

            <div class="box" style="margin-top: 1rem;">
                <input type="hidden" name="street-width-input">
                <div class="info">
                    <p>عرض الشارع</p>
                    <p class="value">
                        <span name="street-width">0</span>
                        م
                    </p>
                </div>
                <div class="slider">
                    <input class="slider_input" type="range" max="100" value="0">
                </div>
            </div>


            {% if property_type == 'land_rent' %}
            <div class="box">
                <p>الغرض</p>
                <br>
                <div class="select">
                    <select name="purpose-input" id="">
                        <option selected disabled value="commercial">غير محدد</option>
                        <option value="commercial">تجاري</option>
                        <option value="residential">سكني</option>
                        <option value="commercial-residential">تجاري وسكني</option>
                    </select>
                    <i class="fa-solid fa-sort"></i>
                </div>
            </div>
            {% endif %}

            {% if property_type == 'building_rent' %}
            <div class="box" style="margin-top: 1rem;">
                <input type="hidden" name="stores-count-input">
                <div class="info">
                    <p>عدد المحلات</p>
                    <p class="value">
                        <span name="stores-count">0</span>
                        
                    </p>
                </div>
                <div class="slider">
                    <input class="slider_input" type="range" max="40" value="0">
                </div>
            </div>

            <div class="box">
                <div class="info">
                    <p>عدد الشقق</p>
                </div>
                <div class="grid apartments-count">
                    <input type="hidden" name="apartments-count-input">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item item_more">
                        <!-- أكثر <i class="fa-solid fa-sort"></i> -->
                        <select name="extra-apartments-count-input" id="custom_select">
                            <option disabled selected hidden>أكثر</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="box">
                <p>الغرض</p>
                <br>
                <div class="select">
                    <select name="purpose-input" id="">
                        <option selected disabled value="commercial">غير محدد</option>
                        <option value="تجاري">تجاري</option>
                        <option value="سكني">سكني</option>
                        <option value="تجاري وسكني">تجاري وسكني</option>
                    </select>
                    <i class="fa-solid fa-sort"></i>
                </div>
            </div>

            {% endif %}

            
            
            {% if not property_type == 'land_rent' %}



            
            {% if property_type == 'building_rent' %}
                <div class="box">
                    <div class="info">
                        <p>عدد الغرف</p>
                    </div>
                    <div class="grid room-count">
                        <input type="hidden" name="room-input">
                        <!-- <div class="item">جديد</div> -->
                        <div class="item">1</div>
                        <div class="item">2</div>
                        <div class="item">3</div>
                        <div class="item">4</div>
                        <div class="item item_more">
                            <!-- أكثر <i class="fa-solid fa-sort"></i> -->
                            <select name="extra-room-input" id="custom_select">
                                <option disabled selected hidden>أكثر</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="+8">+8</option>
                            </select>
                        </div>

                    </div>

                </div>
            {% endif %}
                
            


            {% if not property_type == "building_rent" and not property_type == "shop_rent" and not property_type == 'commercial_office_rent' and not property_type == 'branch_rent' %}
            <div class="box">
                <div class="info">
                    <p>عدد الغرف</p>
                </div>
                <div class="grid room-count">
                    <input type="hidden" name="room-input">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item item_more">
                        <!-- أكثر <i class="fa-solid fa-sort"></i> -->
                        <select name="extra-room-input" id="custom_select">
                            <option disabled selected hidden>أكثر</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="+8">+8</option>
                        </select>
                    </div>

                </div>

            </div>

            <div class="box">
                <div class="info">
                    <p>الصالات</p>
                </div>
                <div class="grid lounges-count">
                    <input type="hidden" name="lounges-input">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item item_more">
                        <select name="extra-lounges-input" id="custom_select">
                            <option disabled selected hidden>أكثر</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="+8">+8</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="box">
                <div class="info">
                    <p>عدد دورات المياه</p>
                </div>
                <div class="grid bathroom-count">
                    <input type="hidden" name="bathroom-input">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item item_more">
                        <select name="extra-bathroom-input" id="custom_select">
                            <option disabled selected hidden>أكثر</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="+8">+8</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
            {% if not property_type == 'chalet_rent' %}
            {% if not property_type == 'villa_rent' %}
            {% if not property_type == 'resthouse_rent' %}
                
                
            <div class="box">
                <div class="info">
                    <p>الدور</p>
                </div>
                <div class="grid floor-number">
                    <input type="hidden" name="floor-input">
                    <!-- <div class="item">جديد</div> -->
                    <div class="item">أرضي</div>
                    <div class="item">علوي</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item item_more">
                        <select name="extra-floor-input" id="custom_select">
                            <option disabled selected hidden>أكثر</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="+8">+8</option>
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}

            {% endif %}
                


            <div class="box">
                <div class="info">
                    <p>عمر العقار</p>
                </div>
                <div class="grid property-age">
                    <input type="hidden" name="property-age-input">
                    <div class="item">جديد</div>
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                    <div class="item">4</div>
                    <div class="item item_more">
                        <select name="extra-property-age-input" id="custom_select">
                            <option disabled selected hidden>أكثر</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="+25">+25</option>
                        </select>
                    </div>
                </div>
            </div>


            {% endif %}
                 
                

            



            <div class="property__details__next-prev next-prev">
                <a  class="btn-prev btn btn-solid-light">السابق</a>
                <a  class="btn-next btn btn-solid-success">التالي</a>
            </div>

        </div>


        <div class="property__features">
            

                
            <div class="property__description__container">
                <p>وصف العقار</p>
                <textarea placeholder="الرجاء كتابة وصف عن العقار" name="property__description__input" id="">

                </textarea>
            </div>

            <div class="property__features__container">
                <p>مزايا العقار</p>
                <div class="property__features__wrapper">
                    {% if   property_type == 'apartment_rent' or property_type == 'floor_rent' %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="furnished" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="kitchen" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مطبخ</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="extenstion" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملحق</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="car_entrance" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخل سيارة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="elevator" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مصعد</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="ac" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مكيف</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>


                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="private_surface" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>سطح خاص</p>
                    </div>
                    
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="in_villa" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>في فيلا</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="two_enternace" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخلين</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="private_enternace" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخل خاص</p>
                    </div>
                    {% elif property_type == 'shop_rent' or property_type == "commercial_office_rent" or property_type == 'land_rent' %}
                    {% if property_type == "commercial_office_rent" %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>
                    {% endif %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>

                    

                        
                    
                    {% elif property_type == 'villa_rent' %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="driver_room" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>غرفة سائق</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="maid_room" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>غرفة خادمة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="pool" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مسبح</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="furnished" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="hair_tent_house" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>بيت شعر</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="yard" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>حوش</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="kitchen" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مطبخ</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="extenstion" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملحق</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="car_entrance" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخل سيارة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="basement" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>قبو</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="elevator" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مصعد</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="duplex" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>دوبلكس</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="ac" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مكيف</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>

                    {% elif property_type == 'resthouse_rent' %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="pool" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مسبح</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="football_field" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملعب كرة قدم</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="volly_field" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملعب كرة طائرة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="hair_tent_house" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>بيت شعر</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="kitchen" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مطبخ</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="amusement" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملاهي</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="family_part" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>قسم عوائل</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>
                    
                    {% endif %}

                    
                    {% if property_type == "building_rent" %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="furnished" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="basement" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>قبو</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>
                    {% endif %}

                    
                    {% if property_type == 'branch_rent' or property_type == 'furnished_apartment_rent' or property_type == 'chalet_rent' %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>

                    
                    {% if property_type == 'chalet_rent' %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="furnished" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="football_field" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملعب كرة قدم</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="volly_field" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملعب كرة طائرة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="hair_tent_house" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>بيت شعر</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="amusement" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملاهي</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="kitchen" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مطبخ</p>
                    </div>
                    
                    {% endif %}
                        
                    
                    {% if property_type == 'furnished_apartment_rent' %}
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="families" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>عوائل</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="extenstion" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملحق</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="car_entrance" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخل سيارة</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="ac" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مكيف</p>
                    </div>
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="family_part" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>قسم عوائل</p>
                    </div>

                    {% endif %}
                        
                    {% endif %}
                        
                        

                    <!-- <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="families" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>عوائل</p>
                    </div>


                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="furnished" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مؤثثة</p>
                    </div>


                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="kitchen" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مطبخ</p>
                    </div>


                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="extenstion" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>ملحق</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="car_entrance" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخل سيارة</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="elevator" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مصعد</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="ac" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مكيف</p>
                    </div>

                    
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="water_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الماء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="power_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الكهرباء</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="sanitation_exist" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>توفر الصرف</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="private_surface" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>سطح خاص</p>
                    </div>
                    
                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="in_villa" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>في فيلا</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="two_enternace" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخلين</p>
                    </div>

                    <div class="property__feature__item">
                        <label class="toggle-container">
                            <input type="checkbox" name="private_enternace" class="toggle-switch">
                            <span class="toggle-circle"></span>
                        </label>
                        <p>مدخل خاص</p>
                    </div> -->

                </div>

                
                <div class="property__features__next-prev next-prev">
                    <a  class="btn-prev btn btn-solid-light">السابق</a>
                    <button type="submit" id="submitButton" onclick="disableButton()" class="btn-next btn btn-solid-success">رفع الإعلان</button>
                </div>

            </div>
        </div>




    </form>


    </section>



</div>
    <script src="https://cdn.jsdelivr.net/npm/marked@2.0.3/marked.min.js"></script>


    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 1, 
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
          });
        
        
        // Make navbar responsive 
        
        
    </script>
    <script src="{% static 'js/property/add-property1.js' %}"></script>
    
    <script>
        // JavaScript code to handle the toggle switch
        const toggleSwitchs = document.querySelectorAll('.toggle-switch');
        const toggleContainer = document.querySelector('.toggle-container');

        toggleSwitchs.forEach((toggleSwitch) => {
            toggleSwitch.addEventListener('change', function() {
                if (toggleSwitch.checked) {
                    toggleSwitch.parentElement.classList.add('checked');
                } else {
                    toggleSwitch.parentElement.classList.remove('checked');
                }
            });
        })

    </script>

    <script>

        let timelineContainer = document.querySelector('.timeline-container'); 
        let progressBarElementsWrapper = document.querySelector('.timeline-items-wrapper'); 
        let progressBarInk = document.querySelector('.timeline-progressbar-ink') 
        
        let checkpoint = progressBarElementsWrapper.querySelector('div.timeline-item:first-child')
        let checkpointStatusCircle = checkpoint.querySelector('.status-circle')
        
        
        let calculateProgressWidth = function () { 
            let nestedSpace = checkpoint.getBoundingClientRect().right - checkpointStatusCircle.getBoundingClientRect().right; 
        
            let space = progressBarElementsWrapper.getBoundingClientRect().right - checkpoint.getBoundingClientRect().right ; 
            console.log(nestedSpace) 
            
            
            progressBarInk.style.width = space + nestedSpace + 10 + 'px'; 
        }
        
        
        // calculateProgressWidth() 
        
        
    </script>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKt6ozfNbfbA7RIWbNeIvy3Rj4NT7RpO4&callback=initMap"></script>
    <script src="{% static 'js/property/init-map.js' %}"></script>


{% endblock content %}
    