{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{property.title}}
{% endblock title %}
    

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/property/property-details.css' %}">

    <!-- swiper -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
  />
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  

{% endblock stylesheets %}
    


{% block content %}

<section class="property">
    <div class="container">

        <h3 class="property__title">{{property.title}}</h3>



        <div class="gallery">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    
                    {% for img in property.imgs.all %}
                        
                        
                    <div class="swiper-slide">
                        <img src="{{img.img.url}}" class="property__img__item" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
            <p class="pics__count">
                <i class="fa-solid fa-border-none"></i>
                
                {% if property.imgs.all.count == 1 %}
                    <span>صورة واحدة</span>
                {% else %}
                    <span>{{property.imgs.all.count}}</span>
                    <span>صور</span>
                {% endif %}
                    
            </p>
        </div>


        <!-- <div class="gallery">
            <div class="main-img">
                
                <img class="property__img__item" src="{{ property.imgs.all.0.img.url }}" alt="Main Image">
            </div>
    
            <div class="additional-img">
                {% for img in property.imgs.all|slice:"1:" %}
                    <div class="image">
                        <img class="property__img__item" src="{{ img.img.url }}" alt="Additional Image">
                    </div>
                {% endfor %}
            </div>
        </div> -->



        <div class="popup">
            <span class="close-button">&times;</span>
            <!-- <img class="popup-content" id="popup-image"> -->
            <div class="swiper mySwiper popup-swiper">

                <div class="swiper-wrapper">
                        
                    {% for img in property.imgs.all %}
                        
                        
                    <div class="swiper-slide">
                        <img src="{{img.img.url}}" class="property__img__item" alt="">
                    </div>
                    {% endfor %}

                    <!-- <div class="swiper-slide">
                        <img src="./assets/imgs/property_img_2.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./assets/imgs/property_img_3.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="./assets/imgs/property_img_4.webp" alt="">
                    </div> -->
                </div>
            </div>
        </div>


        <div >


        <div class="property__info">


            <h3 class="property__cost">
                {{property.price}} ريال / <span id="type">{{property.get_rent_type_display}}</span>
            </h3>

            
            <input type="hidden" name="property_details_markdown" value="{{property.description|safe}}">
            <p class="property__details">
                
            </p>

        </div>



        <div class="property__features">
            <div class="features__grid">
                
                {% if property.p_type == 'furnished_apartment_rent' %}
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}} م</p>
                </div>

                <div class="col  ">
                    <p>المساحة</p>
                    <p>
                        {{property.space}} م
                    </p>
                </div>
                    

                <div class="col  ">
                    <p>عوائل أم عزاب</p>
                    <p>
                        
                        {% if property.families %}
                            عوائل
                        {% else %}
                            عزاب
                        {% endif %}
                    </p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bed"></i>
                        الغرف
                    </p>
                    <p>{{property.rooms}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-couch"></i>
                        الصالات
                    </p>
                    <p>{{property.lounges}}</p>
                </div>
                <div class="col  ">
                    <p>الدور</p>
                    <p>{{property.floor}}</p>
                </div>

                {% endif %}
                
                
                {% if property.p_type == 'branch_rent' %}
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>

                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>

                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'building_rent' %}
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>
                <div class="col  ">
                    <p>الغرض</p>
                    <p>{{ property.purpose }}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>عدد المحلات</p>
                    <p>{{property.stores_count}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'land_rent' %}
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>
                <div class="col  ">
                    <p>الغرض</p>
                    <p>{{ property.purpose }}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                <div class="col  ">
                    <p>سعر المتر</p>
                    <p>1500.50</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'commercial_office_rent' %}
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                <div class="col  ">
                    <p>سعر المتر</p>
                    <p>1500.50</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'resthouse_rent' %}
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-couch"></i>
                        الصالات
                    </p>
                    <p>{{property.lounges}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bed"></i>
                        الغرف
                    </p>
                    <p>{{property.rooms}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        عدد دورات المياه
                    </p>
                    <p>
                        {{property.bathroom}}
                    </p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'shop_rent' %}
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'villa_rent' %}
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bed"></i>
                        الغرف
                    </p>
                    <p>{{property.rooms}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-couch"></i>
                        الصالات
                    </p>
                    <p>{{property.lounges}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        عدد دورات المياه
                    </p>
                    <p>
                        {{property.bathroom}}
                    </p>
                </div>
                <div class="col  ">
                    
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>{{property.space}}</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'floor_rent' %}
                <div class="col  ">
                    
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <i class="fa-solid fa-compass"></i>
                    <p>الواجهة</p>
                    <p>{{property.interface}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bed"></i>
                        الغرف
                    </p>
                    <p>{{property.rooms}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-couch"></i>
                        الصالات
                    </p>
                    <p>{{property.lounges}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        عدد دورات المياه
                    </p>
                    <p>
                        {{property.bathroom}}
                    </p>
                </div>
                <div class="col  ">
                    <p>الدور</p>
                    <p>{{property.floor}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>
                        {{property.space}} م
                    </p>
                </div>

                {% endif %}
                
                
                {% if property.p_type == 'apartment_rent' %}
                <div class="col  ">
                    
                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>
                        {{property.space}} م
                    </p>
                </div>
                <div class="col  ">
                    <p>عوائل أم عزاب</p>
                    <p>
                        
                        {% if property.families %}
                            عوائل
                        {% else %}
                            عزاب
                        {% endif %}
                    </p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bed"></i>
                        الغرف
                    </p>
                    <p>{{property.rooms}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-couch"></i>
                        الصالات
                    </p>
                    <p>{{property.lounges}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        عدد دورات المياه
                    </p>
                    <p>
                        {{property.bathroom}}
                    </p>
                </div>
                <div class="col  ">
                    <p>الدور</p>
                    <p>{{property.floor}}</p>
                </div>
                {% endif %}

                
                {% if property.p_type == 'chalet_rent' %}
                <div class="col  ">

                    <p>
                        <i class="fa-solid fa-road"></i>
                        عرض الشارع
                    </p>
                    <p>{{property.street_width}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-couch"></i>
                        الصالات
                    </p>
                    <p>{{property.lounges}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bed"></i>
                        الغرف
                    </p>
                    <p>{{property.rooms}}</p>
                </div>
                <div class="col  ">
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        عدد دورات المياه
                    </p>
                    <p>
                        {{property.bathroom}}
                    </p>
                </div>
                <div class="col  ">
                    <p>المساحة</p>
                    <p>
                        {{property.space}} م
                    </p>
                </div>
                {% endif %}
                    
                    
                    
                    
                    
                    
                    
                    
                    

                
                {% if property.furnished == True %}
                    <div class="col  ">
                        <p>
                            مؤثثة
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}
                
                {% if property.kitchen == True %}
                    <div class="col  ">
                        <p>
                            مطبخ
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}
                
                {% if property.extenstion == True %}
                    <div class="col  ">
                        <p>ملحق</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                
                {% if property.car_entrance == True %}
                    <div class="col  ">
                        <p>
                            <img src="{% static 'imgs/مدخل_سيارة-removebg-preview.png' %}" alt="">
                            مدخل سيارة
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                
                {% if property.elevator == True %}
                    <div class="col  ">
                        <p>
                            <img src="{% static 'imgs/مصعد-removebg-preview.png' %}" alt="">
                            مصعد
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                
                {% if property.ac == True %}
                    <div class="col  ">
                        <p>
                            <img src="{% static 'imgs/مكيف-removebg-preview.png' %}" alt="">
                            مكيف
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}
                    
                
                {% if property.water_exist %}
                    <div class="col  ">
                        <p>توفر الماء</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                
                {% if property.power_exist %}
                    <div class="col  ">
                        <p>توفر الكهرباء</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}


                {% if property.sanitation_exist %}
                    <div class="col  ">
                        <p>
                            توفر الصرف
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}
                    
                {% if property.private_surface %}
                    <div class="col  ">
                        <p>
                            سطح خاص
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}
                    
                {% if property.in_villa %}
                    <div class="col  ">
                        <p>في فيلا</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}
                    
                {% if property.two_enternace %}
                    <div class="col  ">
                        <p>مدخلين</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.private_enternace %}
                    <div class="col  ">
                        <p>مدخل خاص</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.driver_room %}
                    <div class="col  ">
                        <p>
                            غرفة سائق
                        </p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}


                {% if property.maid_room %}
                    <div class="col  ">
                        <p>غرفة خادمة</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}


                {% if property.duplex %}
                    <div class="col  ">
                        <p>دوبلكس</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.basement %}
                    <div class="col  ">
                        <p>قبو</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.yard %}
                    <div class="col  ">
                        <p>حوش</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.hair_tent_house %}
                    <div class="col  ">
                        <p>بيت شعر</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.pool %}
                    <div class="col  ">
                        <p>مسبح</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.football_field %}
                    <div class="col  ">
                        <p>ملعب كرة قدم</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}

                {% if property.volly_field %}
                    <div class="col  ">
                        <p>ملعب كرة طائرة</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}


                {% if property.amusement %}
                    <div class="col  ">
                        <p>ملاهي</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}


                {% if property.family_part %}
                    <div class="col  ">
                        <p>قسم عوائل</p>
                        <p>
                            <i class="fa-solid fa-circle-check"></i>
                        </p>
                    </div>
                {% endif %}


                    
                    
                    
                    
            </div>
        </div>

        </div>

        <div class="property__video">
            
            {% if property.video %}
            
            <video controls>
                <source src="{{property.video.url}}" type="video/mp4">
            </video>
            {% endif %}

        </div>

        <div class="property__actions">
            <div class="container">

                <ul>
                    <li><a href="{% url 'property:add-to-favourite' property.number %}" class="list-item">
                        <i class="fa-regular fa-heart"></i>
                        المفضلة
                    </a></li>
                    <li><a style="cursor: pointer;" id="btn-share" class="list-item">
                        <i class="fa-solid fa-share" id="share"></i>
                        شارك
                    </a></li>
                    <li><a href="{% url 'property:report-property' property.number %}" class="list-item" >
                        <i class="fa-solid fa-flag" id="report"></i>
                        إبلاغ
                    </a></li>
                </ul>

            </div>

        </div>


        
    </div>
</section>

<section class="advertiser">
    <div class="container">
        <!-- <img src="./assets/imgs/profile-pic.svg" alt="" class="advertiser_pic"> -->
        
        <h2 class="advertiser__name">{{property.user}}</h2>

        <div class="advertiser__contact">
            <a id="btn__call">نسخ رقم الجوال</a>
            <a href="#" id="btn__whatsapp">تواصل واتساب</a>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/marked@2.0.3/marked.min.js"></script>



<script>
    let btnShare = document.querySelector('#btn-share'); 
    btnShare.addEventListener('click', ()=> {
        var currentURL = window.location.href;
        // Create a temporary input element to hold the URL
        var tempInput = document.createElement("input");
        tempInput.value = currentURL;
        document.body.appendChild(tempInput);

        tempInput.select();
        tempInput.setSelectionRange(0, 99999); // For mobile devices

        // Copy the selected text to the clipboard
        document.execCommand("copy");

        // Remove the temporary input element
        document.body.removeChild(tempInput);

    })


    let property_details_markdown_value = document.querySelector('[name=property_details_markdown]')
    let property__details_p = document.querySelector('.property__details'); 
    property__details_p.innerHTML= marked(property_details_markdown_value.value)

</script>

<script src="{% static 'js/pages/app.js' %}"></script>
<script>

    const popup = document.querySelector(".popup");
    // const popupImage = document.querySelector("#popup-image");
    const closeBtn = document.querySelector(".close-button");
    const images = document.querySelectorAll(".popup-image");

    function openPopup(imgSrc) { 
        popup.style.display = 'block'; 
        // popupImage.src = imgSrc 
    }

    function closePopup() {
        popup.style.display = "none";
    }
    
    closeBtn.addEventListener('click', () => {
        closePopup() 
    })

    document.querySelectorAll('.property__img__item').forEach((item) => {
        item.addEventListener('click', () => {
            openPopup(item.src) 
        })
    })
</script>
{% endblock content %}
    
