{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}الملف الشخصي{% endblock title %}


{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock stylesheets %}

{% block content %}

<style>
    .section__title {
        color: var(--primary-color); 
    }

    .profile__img {
        width: 100px; 
        height: 100px;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 2px 2px 20px #1e1e1e20;
        margin: 1rem 0; 
    }
    .default-user-img {
        padding: 1rem; 
        border: 1px solid var(--primary-color);
        width: fit-content;
        border-radius: 50%; 
        width: 100px; 
        height: 100px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .default-user-img i {
        font-size: 4rem;
        color: var(--primary-color);
    }
    h1.username 
    {
        color: var(--primary-color);
        margin: 1rem 0;
    }
    center .cta a {
        margin: 0 .5rem;
    }
    .user_img { 
        width: 100px; 
        height: 100px; 
        border-radius: 50%; 
        object-fit: cover;
    }
</style>

<section>
    <!--
    <div class="container">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        
        {% if user.img %}
        <img src="{{user.img.url}}" class="profile__img" alt="{{user.name}}">
        {% else %}
        <img src="" class="profile__img" alt="{{user.name}}">
        {% endif %}
            
        <h4>{{user.name}}</h4>
        <div class="links">
            <a href="{% url 'page:favourites' %}" class="btn btn-sm btn-solid">المفضلة</a>
            <a href="#" class="btn btn-sm btn-solid">إعلاناتي</a>
        </div>

        <section class="profile-edit">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-solid">حفظ التعديلات</button>
            </form>
        </section>

    </div>
    -->


    <div class="container">
        <center>
            {% if user.img %}
            <img class="user_img" src="{{user.img.url}}" alt="">
            {% else %}
            <div class="default-user-img">
                <i class="fa-solid fa-user"></i>
            </div>
            {% comment %} <img src="" alt=""> {% endcomment %}
            {% endif %}
        </center>
        
        <center>
            <h1 class="username">{{user.name}}</h1>
        </center>

        <center>
            <table class="table ">
                <tr>
                    <td>الايميل</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>رقم الجوال</td>
                    <td>{{user.phone_number}}</td>
                </tr>
            </table>
        </center>

        <center>
            <div class="cta">
                <a href="{% url 'user:my-ads' %}" class="btn btn-solid btn-sm">إعلاناتي</a>
                <a href="{% url 'page:favourites' %}" class="btn btn-solid btn-sm">المفضلة</a>
                <a href="{% url 'user:profile' %}" class="btn btn-solid btn-sm">الإعدادات</a>
            </div>
        </center>

    </div>
</section>



{% endblock %}