{% extends 'base.html' %}
{% load static %}


{% block title %}
    تسجيل دخول
{% endblock title %}
    

{% block stylesheets %}
    
{% endblock stylesheets %}
    

{% block content %}
    

<style>

    .login__section { 
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login__section .container { 
        border: 1px solid #99999950;
        width: fit-content; 
        padding: 2rem; 
        border-radius: 30px;
        max-width: 95% !important;
    }

    form .field {
        margin: 1rem 0;
        position: relative; 
    }
    form .field i { 
        position: absolute; 
        line-height: 50px;
        right: 1.5rem;
        font-size: 1.1rem;
        color: #888888; 
    }
    form .field .input { 
        color: #6c757d;
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        width: 400px !important;
        max-width: 100% !important;
        height: 50px !important; 
        border-radius: 50px;
        padding-right: 3.5rem !important;
    }

    .login__section__header  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .fields {
        margin: 3rem 0;
    }

    .ahref { 
        color: var(--primary-color); 
    }

    .btn {
        border-radius: 20px;
    }

</style>

<section class="login__section">
    <div class="container">
        <div class="login__section__header">
            <h2>تسجيل دخول</h2>
            <a href="{% url 'user:before-register' %}" class="btn btn-solid">تسجيل جديد</a>
        </div>
        <form method="POST">  
            {% csrf_token %}
            <!-- {{form}} -->
            <div class="fields">
                <div class="field">
                    <i class="fa-solid fa-id-card"></i>
                    <input type="text" required placeholder="أدخل رقم الهوية" class="input" name="id_number_input">
                </div>
                <div class="field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" required placeholder="اكتب كلمة المرور" class="input" name="password_input">
                </div>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            <br>
            {% endif %}

            <div class="login__section__footer">
                <button class="btn btn-solid" type="submit">تسجيل دخول</button>
                <br>
                <a href="{% url 'password_reset' %}" class="ahref">هل نسيت كلمة المرور؟</a>
            </div>
        </form>
    </div>
</section>

{% endblock content %}
    