{% extends 'base.html' %}

{% block title %}
التحقق من رقم الهاتف
{% endblock title %}
    


{% block stylesheets %}
<style>
    .content {
        height: calc(100vh - 80px - 175px ) ; 
    }
    .content .container { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }
    .content h2 { 
        color: var(--primary-color); 
    }
    .content i {
        font-size: 2.2rem;
        color: var(--primary-color); 
    }
</style>
{% endblock stylesheets %}
    


{% block content %}

<style>
    .messages .success {
        list-style: none;
        background: #28a74580;
        color: white;
        width: 100%;
        min-height: 30px;
        padding: 1rem ;
        line-height: 30px;
        text-align: center;
    }
    .messages li {
        transition: all .2s ease-in-out;
    }

    .intro__title {
        font-family: "Rakkas", serif; 
        
    }
</style>
    
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


    <div class="content">
        <div class="container">
            <i class="fa-solid fa-circle-check"></i>
            <h2>
                التحقق من رقم الهاتف
            </h2>
            <p>
                يرجى إتمام خطوة التحقق من رقم الهاتف للتمتع بمزايا إضافة الإعلانات
            </p>
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-solid" type="submit">تحقق</button>
                <!-- <a href="{% url 'user:check-otp' %}" class="btn btn-solid">تحقق</a> -->
            </form>
        </div>
    </div>
{% endblock content %}
    