{% load static %}
{% load extras %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
        {% endblock title %}    
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/pages/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
    
    {% block stylesheets %}
        
    {% endblock stylesheets %}

    <style>
        html { 
            scroll-behavior: smooth;
        }

        .btn-scroll-to-top {
            position: fixed;
            bottom: 1rem; 
            left: 1rem; 
            width: 50px ;
            border: 1px solid var(--secondary-color) ;
            display: none ;
            z-index: 100000;
        }
    </style>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SK051LM5P1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-SK051LM5P1');
    </script>

</head>
<body>

    <div class="website-content">


        
    <header id="main_header">
        <div class="container">
            <div class="logo-container">
                <a href="{% url 'page:index' %}">
                    <img src="{% static 'imgs/logo.jpeg' %}" alt="">
                    {% comment %} <img src="{% static 'imgs/logoText-e961f794.png' %}" alt="" class="logo-text"> {% endcomment %}
                    <img src="{% static 'imgs/logo-text.png' %}" alt="" class="logo-text">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'page:index' %}" class="list-item">الرئيسية</a></li>
                    <li><a href="{% url 'page:property-owners' %}" class="list-item">أصحاب العقار</a></li>
                    <li><a href="{% url 'page:request-contract' %}" class="list-item">طلب عقد إلكتروني</a></li>
                    <li><a href="{% url 'page:contact-us' %}" class="list-item">تواصل معنا</a></li>
                    <li><a href="{% url 'page:about' %}" class="list-item">من نحن</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user:profile_summary' %}"class="btn btn-solid">الملف الشخصي</a></li>
                    <li><a href="{% url 'user:custom-logout' %}" class="btn btn-outline">تسجيل خروج</a></li>
                    {% else %}
                    <li><a href="{% url 'property:add-property-interface' %}" class="btn btn-solid">إضافة عقار</a></li>
                    <li><a href="{% url 'user:user-login' %}" class="btn btn-outline">تسجيل دخول</a></li>
                    {% endif %}

                </ul>
            </nav>
            <a id="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

    </header>

 


    <header class="responsive-header">
        <div class="container">
            <div class="logo-container">
                <a href="{% url 'page:index' %}">
                    <img src="{% static 'imgs/logo.jpeg' %}" alt="">
                    {% comment %} <img src="{% static 'imgs/logoText-e961f794.png' %}" alt="" class="logo-text"> {% endcomment %}
                    <img src="{% static 'imgs/logo-text.png' %}" alt="" class="logo-text">
                </a>
            </div>

            <a id="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </header>

    <section class="navs">
        <nav>
            <ul>
                <li><a href="{% url 'page:index' %}" class="list-item">الرئيسية</a></li>
                <li><a href="{% url 'page:property-owners' %}" class="list-item">أصحاب العقار</a></li>
                <li><a href="{% url 'page:request-contract' %}" class="list-item">طلب عقد إلكتروني</a></li>
                <li><a href="{% url 'page:contact-us' %}" class="list-item">تواصل معنا</a></li>
                <li><a href="{% url 'page:about' %}" class="list-item">من نحن</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                
                {% if user.is_authenticated %}
                <li><a href="{% url 'user:profile_summary' %}"class="btn btn-solid">الملف الشخصي</a></li>
                <li><a href="{% url 'user:custom-logout' %}" class="btn btn-outline">تسجيل خروج</a></li>
                {% else %}
                <li><a href="{% url 'property:add-property-interface' %}" class="btn btn-solid">إضافة عقار</a></li>
                <li><a href="{% url 'user:user-login' %}" class="btn btn-outline">تسجيل دخول</a></li>
                {% endif %}

            </ul>
        </nav>
    </section>
    
    <div class="header-overlay-layer"></div>



    <!-- MAIN -->
    {% get_info as info %}

    <a class="btn btn-solid  btn-scroll-to-top">
        <i class="fa-solid fa-angle-up"></i>
    </a>

    <div class="body__content">

        {% block content %}
        
        {% endblock content %}
    </div>


      
    
    </div>


    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo-container">
                    <img src="{% static 'imgs/logo-transparent.png' %}" alt="">
                </div>
                <!-- <div class="quick-links">
                    <h4>روابط سريعة</h4>

                    <ul>
                        <li><a href="#" class="list-item">الرئيسية</a></li>
                        <li><a href="#" class="list-item">أصحاب العقار</a></li>
                        <li><a href="#" class="list-item">طلب عقد إلكتروني</a></li>
                        <li><a href="#" class="list-item">تواصل معنا</a></li>
                        <li><a href="#" class="list-item">من نحن</a></li>
                    </ul>
                </div> -->
                <div class="social-media">
                    <h4>تابعنا على</h4>

                    <ul>
                        <li><a href="{{info.snapchat}}" class="list-item social-link">
                            <i class="fa-brands fa-snapchat"></i>
                        </a></li>

                        <li><a href="tel:{{info.phone}}" class="list-item social-link">
                            <i class="fa-solid fa-phone"></i>
                        </a></li>
                        
                        <li><a href="{{info.whatsapp}}" class="list-item social-link">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a></li>
                        
                        <li><a href="{{info.tiktok}}" class="list-item social-link">
                            <i class="fa-brands fa-tiktok"></i>
                        </a></li>
                        
                        <li><a href="{{info.location}}" class="list-item social-link">
                            <i class="fa-solid fa-location-dot"></i>
                        </a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="copyrights">
                <a href="{% url 'page:privacy-policy' %}" style="color: #f9f9f9;">سياسة الخصوصية وشروط الاستخدام</a>
                <br>
                <br>
                مكتب البداح للعقارات © 2023 جميع الحقوق محفوظة
            </div>
        </div>
    </footer>


        <script>
        burgerMenu = document.querySelectorAll('#burger-menu')[1]
        let headerOverlayLayer = document.querySelector('.header-overlay-layer'); 
        let navsSection = document.querySelector('.navs');

        // let swiperMenu = document.querySelector('.mySwiper'); 


        burgerMenu.addEventListener('click', () => {
            navsSection.classList.toggle('show');

            if (navsSection.classList.contains('show')) { 
                document.body.style.overflowY = 'hidden'; 
                headerOverlayLayer.style.display = 'block';
            } else {
                document.body.style.overflowY = 'visible'; 
                headerOverlayLayer.style.display = 'none';
            }
        })

        headerOverlayLayer.addEventListener('click', () => {
            navsSection.classList.remove("show"); 
            headerOverlayLayer.style.display = 'none'; 
            document.body.style.overflowY = 'visible'; 
        })


        document.querySelectorAll('textarea').forEach((item) => {
            item.value = "" ;
        })

        window.addEventListener('resize', () => {
            if (window.innerWidth > 992) {
                navsSection.classList.remove('show');   
            }
        })

    </script>

    <script>

        let btnScrollToTop = document.querySelector(".btn-scroll-to-top") 


        let toTopScrollFunction = () => {
            if (document.documentElement.scrollTop > 20 || document.body.scrollTop >20) {
                btnScrollToTop.style.display = 'block';
            } else {
                btnScrollToTop.style.display = 'none';
            }
        }

        let scrollToTop = ()=> {
            document.body.scrollTop = 0; 
            document.documentElement.scrollTop = 0;

            // console.log(document.documentElement.scrollTop)
        }


        btnScrollToTop.addEventListener('click', scrollToTop)
        window.addEventListener('scroll', toTopScrollFunction)



    </script>

</body>
</html>